<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{header :: headfragment (pageTitle = 'Login')}"></head>
  <body>
    <section class="login-box text-center">
      <h5 class="mb-3">MEALMATIC</h5>
      <p class="mb-2">Enter TCKN and PIN</p>
      <form th:action="@{/login}" method="post">
        <input type="number" name="tckn" maxlength="11" class="form-control pin-input mb-3" placeholder="TCKN"/>
        <input type="password" name="pass" maxlength="6" class="form-control pin-input mb-3" placeholder="******"/>
        <input class="btn btn-login w-100" type="button" value="Login" onclick="submitLoginForm()"/>
      </form>
    </section>
    <!-- MODAL-->
    <div th:replace="~{modal :: modalfragment(
        modalId = 'loginErrorModal',
        modalTitle = 'Error',
        modalBody = 'Login failed. Please enter a valid TCKN (11 digits) and password (6 digits).',
        modalFooter = ''
    )}"></div>
    <div th:replace="~{footer :: scriptfragment}"></div>
  </body>
</html>