<!DOCTYPE html>
<html lang="en">
<head th:include="~{header :: headfragment (pageTitle = 'Menu')}"></head>
<body class="p-3">
    <section class="container-box">
        <h5 class="mb-3">Select Table</h5>
        <div class="table-grid mb-3" id="tableGrid">
            <div class="table-item">T1</div>
            <div class="table-item occupied">T2</div>
            <div class="table-item">T3</div>
            <div class="table-item">T4</div>
            <div class="table-item">T5</div>
        </div>
        <nav>
            <ul class="pagination">
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
            </ul>
        </nav>
        <a href="/menu" class="btn btn-primary w-100 mt-3">Next</a>
        <p th:text="${#ctx.session.containsKey('LOGGED_IN')} ? 'BAŞARILI' : 'BAŞARISIZ'"></p>
    </section>
    <div th:replace="~{footer :: scriptfragment}"></div>
</body>
</html>